<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="debugOnly"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="/app/payserv/authorization/engine/ENV19RKM/log/RTL_proxy_debug.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="MaxFileSize" value="30MB"/> 
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%t] %-5p (%F:%L) - %m%n" />
		</layout>
		<!--Filter to log error messages only-->
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="debug" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<appender name="infoOnly"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="/app/payserv/authorization/engine/ENV19RKM/log/RTL_proxy_info.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="MaxFileSize" value="30MB"/> 
		<param name="MaxBackupIndex" value="20" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%t] %-5p (%F:%L) - %m%n" />
		</layout>
		<!--Filter to log debug messages only-->
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<appender name="errorOnly"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="/app/payserv/authorization/engine/ENV19RKM/log/RTL_proxy_error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="MaxFileSize" value="30MB"/> 
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%t] %-5p (%F:%L) - %m%n" />
		</layout>
		<!--Filter to log error messages only-->
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>



	<logger name="com">
		<appender-ref ref="debugOnly" />
		<appender-ref ref="errorOnly" />
		<appender-ref ref="infoOnly" />

	</logger>


</log4j:configuration>
