<!-- HTML -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Expencia</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{images/bar.ico}"/>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

	<!-- Resources -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	
	<script type="text/javascript" src="../static/script/config.js" th:src="@{script/config.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}" />


<!-- HTML -->
</head>

<div th:insert="/menu::menu">  </div>
<div id="reportrange"><b>Date Range:</b> <i class="fa fa-calendar"></i><span></span> <i class="fa fa-caret-down"></i>
</div>

<div><center><h1>Expense Records</h1></center></div>

<div class="tableBody"><table id="example" width="100%"></table></div>


<!-- Chart code -->
<script>

function randomValue(amount,totalExpense,chartTotal) {
  chartTotal.arrows[0].setValue(amount);
  chartTotal.axes[0].setTopText("$"+totalExpense);
  chartTotal.axes[0].bands[1].setEndValue(amount);
}

$(function() {

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		$.ajax({
        url: expenseDetailsUrl+start.format('YYYYMMDD')+"/"+end.format('YYYYMMDD'),
        type: "GET",
        dataType: "json",
        success: function (data) {
			if ( $.fn.dataTable.isDataTable( '#example' ) ) {
				Oldtable = $('#example').DataTable();
				Oldtable.destroy();
			}

			var table =$('#example').DataTable( {
			data: data,
			columns: [
				{ title: "Expense Date" },
				{ title: "Merchant" },
				{ title: "Place" },
				{ title: "Category" },
				{ title: "Pay Mode" },
				{ title: "Amount" }
			]
		} );
        }
    });
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: datePickerConfiguredRange
    }, cb);

    cb(start, end);

});

</script>

</html>
