<!-- HTML -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Expencia</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{images/bar.ico}"/>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script type="text/javascript" src="../static/script/config.js" th:src="@{script/config.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}" />


<!-- Chart code -->
<script>

$(function() {

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		$.ajax({
        url: paymodeExpenseUrl+start.format('YYYYMMDD')+"/"+end.format('YYYYMMDD'),
        type: "GET",
        dataType: "json",
        success: function (data) {
            var chart = AmCharts.makeChart( "chartdiv", {
		  "type": "pie",
		  "theme": "light",
		  "legend":{
			"position":"right",
			"marginRight":100,
			"autoMargins":false
		  },
		  "dataProvider": data,
		  "valueField": "amount",
		  "titleField": "paymode",
		  "outlineAlpha": 0.4,
		  "depth3D": 15,
		  "balloonText": "[[title]]<br><span style='font-size:14px'><b>$[[amount]]</b> ([[percents]]%)</span>",
		  "angle": 30,
		  "export": {
			"enabled": true
		  }
		} );
			}
    });
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: datePickerConfiguredRange
    }, cb);

    cb(start, end);

});

</script>

<!-- HTML -->
<div th:insert="/menu::menu">  </div>
<div id="reportrange"><b>Date Range:</b> <i class="fa fa-calendar"></i><span></span> <i class="fa fa-caret-down"></i>
</div>
<div><center><h2>Expense by Pay Mode</h2></center></div>
<div id="chartdiv"></div>