certj.jar|com.staples.wst|certj|1.0
cryptoj.jar|com.staples.wst|cryptoj|1.0
fpeclient.jar|com.staples.wst|fpeclient|1.0
kmcwrapper.jar|com.staples.wst|kmcwrapper|1.0
kmsclient.jar|com.staples.wst|kmsclient|1.0
sslj.jar|com.staples.wst|sslj|1.0
MQService-0.0.1.jar|com.staples.mqService|MQService|0.0.1
CybersourceClient.jar|com.staples.cybersource|cybersourceClient|1.0
CyberSourceComm.jar|com.staples.cybersource|cyberSourceComm|1.0
rt.jar|com.sun|rt|1.0
connector.jar|javax.resource|connector|1.0
com.ibm.mq.jar|com.ibm|mq|1.0|mq-1.0.pom
com.ibm.mq.commonservices.jar|com.ibm.mq|commonservices|1.0
com.ibm.mq.headers.jar|com.ibm.mq|headers|1.0
com.ibm.mq.jmqi.jar|com.ibm.mq|jmqi|1.0
com.ibm.mq.pcf.jar|com.ibm.mq|pcf|1.0
com.ibm.mqjms.jar|com.ibm|mqjms|1.0
jt400Native.jar|com.ibm|jt400Native|1.0
jt400.jar|com.ibm|jt400|1.0
org.apache.httpcomponents.httpcore-4.2.1.jar|org.apache.httpcomponents|httpcore|4.2.1
wss4j-2.1.jar|com.staples|wss4j|2.1
common-2.5.0.jar|com.staples|common|2.5.0
accountservice.jar|com.staples|accountservice|1.0
DPSAdapter.jar|com.staples|DPSAdapter|1.0
DPSClient.jar|com.staples|DPSClient|1.0
EDUconcurrent.jar|com.staples|EDUconcurrent|1.0
FDRapidConnect.jar|com.staples|FDRapidConnect|1.0
GPASSClient.jar|com.staples|GPASSClient|1.0
jcm.jar|com.staples.wst|jcm|1.0
POWClient.jar|com.staples|POWClient|1.0
RapidConnect.jar|com.staples|RapidConnect|1.0
SecurityFramework.jar|com.staples|SecurityFramework|1.0
tools.jar|com.staples|tools|1.0
sun.misc.BASE64Decoder.jar|sun.misc|BASE64Decoder|1.0
gpas-commons-final.jar|com.staples|gpas-commons-final|1.0
gpas-commons-final-1.0.jar|com.staples|gpas-commons-final|1.1
gpas-commons-0.0.2.jar|com.staples|gpas-commons|0.0.2
gpas-commons-0.0.2.v1.jar|com.staples|gpas-commons|0.0.2.v1
gpas-commons-0.0.2.v2.jar|com.staples|gpas-commons|0.0.2.v2
gpas-commons-0.0.2.v3.jar|com.staples|gpas-commons|0.0.2.v3
gpas-commons-token-1.0.jar|com.staples|gpas-commons-token|1.0||/app/payserv/authorization/process/config/Config_V36/WebServiceToken.properties<br/>/app/payserv/authorization/process/config/Config_V36/WebService.properties
gpas-commons-token-cnp-1.0.jar|com.staples|gpas-commons-cnp-token|1.0||/app/payserv/authorization/process/config/Config_V36/WebServiceCNP.properties<br/>/app/payserv/authorization/process/config/Config_V36/WebServiceTokenCNP.properties
gpas-commons-token-rtl-1.0.jar|com.staples|gpas-commons-rtl-token|1.0||/app/payserv/authorization/process/config/Config_V36/WebServiceRTL.properties<br/>/app/payserv/authorization/process/config/Config_V36/WebServiceTokenRTL.properties
fps-common.jar|com.staples|fps-commons|1.0
EmailSend.jar|com.staples|EmailSend|1.0
JavaAPI.jar|com.staples|JavaAPI|1.0
cryptojce.jar|com.staples.wst|cryptojce|1.0
cryptojcommon.jar|com.staples.wst|cryptojcommon|1.0|cryptojcommon-1.0.pom
kmsclient-3.5.jar|com.staples.wst|kmsclient|3.5|kmsclient-3.5.pom
JavaAPI-2.5.9.jar|com.moneris|JavaAPI|2.5.9
RapidConnect-7.0.jar|com.staples|RapidConnect|7.0
com.ibm.ws.webservices.thinclient_6.1.0.jar|com.ibm.ws.webservices|thinclient|6.1.0
com.ibm.ws.webservices.thinclient_8.5.0.jar|com.ibm.ws.webservices|thinclient|8.5.0
settleReport_0.0.1.jar|com.staples|settleReport|0.0.1
firstapi-client-0.0.1.jar|com.staples|firstapi-client|0.0.1
settlementcommon_0.0.1.jar|com.staples|settlementcommon|0.0.1
ojdbc6.jar|com.oracle|ojdbc6|11.2.0.3
ojdbc7.jar|com.github.noraui|ojdbc7|12.1.0.2
RapidConnect-9.0.jar|com.staples|RapidConnect|9.0
fps-common-1.1.jar|com.staples|fps-commons|1.1
kmcwrapper-1.0.jar|com.staples.kmc|kmcwrapper|1.0
cardIDDomain-1.0.jar|com.staples.dpsws|cardIDDomain|1.0
cardIDservice-1.0.jar|com.staples.dpsws|cardIDservice|1.0
ojdbc7-12.1.0.2.jar|com.oracle.jdbc|ojdbc7|12.1.0.2
certj-3.1.jar|com.rsa|certj|3.1
jcm-6.1.jar|com.rsa|jcm|6.1
jsafe-4.02.jar|com.rsa|jsafe|4.02
kmsclient-3.5.jar|com.rsa|kmsclient|3.5
sslj-5.1.1.jar|com.rsa|sslj|5.1.1
fpeclient-1.0.jar|com.rsa|fpeclient|1.0
cryptoj-5.0.1.jar|com.rsa|cryptoj|5.0.1
stpay-authclient-0.0.1-SNAPSHOT.jar|com.staples.pay|stpay-authclient|0.0.1-SNAPSHOT
stpayclient-1.0.jar|com.staples.pay|stpayclient|1.0
STPayCommons-0.0.1-SNAPSHOT.jar|com.staples.pay|staplespay|0.0.1-SNAPSHOT
nds-2.2.139389.jar|nds.sdk.java|nds|2.2.139389
nds-2.2.149918.jar|nds.sdk.java|nds|2.2.149918
moneris-shared-beans-0.0.1-SNAPSHOT.jar|com.staples.gpas.moneris|moneris-shared-beans|0.0.1-SNAPSHOT
cryptojce-3.5.2.6.jar|com.rsa|cryptojce|3.5.2.6
cryptojcommon-3.5.2.6.jar|com.rsa|cryptojcommon|3.5.2.6
jcm-3.5.2.6.jar|com.rsa|jcm|3.5.2.6
jcmFIPS-3.5.2.6.jar|com.rsa|jcmFIPS|3.5.2.6
kmsclient-3.5.2.6.jar|com.rsa|kmsclient|3.5.2.6
sslj-3.5.2.6.jar|com.rsa|sslj|3.5.2.6
CybersourceClient-2.0.jar|com.staples.cybersource|cybersourceClient|2.0
RapidConnect-10.0.jar|com.staples|RapidConnect|10.0